---
import '@/styles/globals.css'

import NoteLayout from '@/layouts/NoteLayout.astro'

import {
  Card,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'

const allArticles = await Astro.glob('./*.md')
---

<NoteLayout>
  <ul>
    {
      allArticles.map(({ url, frontmatter: { title, pubDate } }) => {
        const formattedPubDate = pubDate.toString().slice(0, 10)
        return (
          <a href={url}>
            <Card>
              <CardHeader>
                <CardTitle>{title}</CardTitle>
                <CardDescription>{formattedPubDate}</CardDescription>
              </CardHeader>
            </Card>
          </a>
        )
      })
    }
  </ul>
</NoteLayout>
